@import "leaflet/dist/leaflet.css";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

p {
  padding: 0.5em;
}

@font-face {
  font-family: 'Unbounded';
  src: url('public/fonts/unbounded/WOFF/Unbounded-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url('public/fonts/unbounded/WOFF/Unbounded-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Unbounded';
  src: url('public/fonts/unbounded/WOFF/Unbounded-Regular.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Unbounded', sans-serif;
}
